{% extends "base.html" %}

{% block table_block %}
<div class="mainContainer">
	<div class="mainLeft">
		<div title="选中可收藏" class="words">
			<h3 style="text-align:center;">{{ composition.title }}</h3>
            <p style="text-align: center;"><span>{{ composition.author }}</span>&emsp;&emsp;<span>{{ composition.create_time }}</span></p>
			<span class="articles">&emsp;{{ composition.content }}</span>
		<img src="{{ url_for("static", filename="images/main/introduction.png") }}" alt="">
		</div>
		<div class="rank">
			<div class="transform">
				<img src="{{ url_for("static", filename="images/main/word_selector.png") }}" alt="">
				<p style="color: #07bff7;font-size:16px;">难度系数</p>
				<p style="color: rgba(0,0,0,0.5);font-size:12px;">菜单栏</p>
				<ul class="rank_ul">
					<li>概览图</li>
					<li>详细图</li>
				</ul>
			</div>
			<div style="display:block;" class="chart_changed" id="chart_changed1">

			</div>
			<div style="display:none;" class="chart_changed" id="chart_changed2">

			</div>
		</div>
	</div>
	<div class="mainRight">
		<div class="day_count">
			<div class="transform">
				<img src="{{ url_for("static", filename="images/main/word_selector.png") }}" alt="">
				<p style="color: #07bff7;font-size:16px;">文章统计</p>
				<p style="color: rgba(0,0,0,0.5);font-size:12px;">菜单栏</p>
				<ul class="day_ul">
					<li>总计</li>
					<li>收藏</li>
					<li>标记</li>
				</ul>
			</div>
			<div style="display:block;" class="chart_changed" id="day_changed1">

			</div>
			<div style="display:none;" class="chart_changed" id="day_changed2">

			</div>
			<div style="display:none;" class="chart_changed" id="day_changed3">

			</div>
		</div>
		<div class="group_count">
			<div class="transform">
				<img src="{{ url_for("static", filename="images/main/word_selector.png") }}" alt="">
				<p style="color: #07bff7;font-size:16px;">数据统计</p>
				<p style="color: rgba(0,0,0,0.5);font-size:12px;">菜单栏</p>
				<ul class="group_ul">
					<li>概览图</li>
					<li>详细图</li>
				</ul>
			</div>
			<div style="display:block;" class="chart_changed" id="group_changed1">

			</div>
			<div style="display:none;" class="chart_changed" id="group_changed2">
				<table class="datas">
					<caption>各词性分组统计</caption>
					<tr>
						<th>序号</th>
						<th>名称</th>
						<th>数量</th>
						<th>操作</th>
					</tr>
                    {% for group in groups %}
					<tr>
						<td>{{ loop.index }}</td>
						<td>{{ group.name}}</td>
						<td>{{ group.words | length }}</td>
						<td><img src="{{ url_for("static", filename="images/main/select.png") }}" alt=""></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block script_block %}
    <script>
    $(function() {
        // 难度系数导航栏切换
        var rank_lis = $(".rank_ul>li");
        $(".rank_ul").on("click", function (event) {
            rank_lis.each(function () {
                $(this).css({"color": "black"})
            });
            $(event.target).css({"color": "#4ac883"})
        });

        // 导航栏的点击事件
        $(".rank_ul>li:first-child").on("click", function () {
            $("#chart_changed1").css("display", "block");
            $("#chart_changed2").css("display", "none")
        });
        $(".rank_ul>li:last-child").on("click", function () {
            $("#chart_changed1").css("display", "none");
            $("#chart_changed2").css("display", "block")
        });

        // 文章统计导航栏切换
        var day_lis = $(".day_ul>li");
        $(".day_ul").on("click", function (event) {
            day_lis.each(function () {
                $(this).css({"color": "black"})
            });
            $(event.target).css({"color": "#4ac883"})
        });

        // 导航栏的点击事件
        $(".day_ul>li:first-child").on("click", function () {
            $("#day_changed1").css("display", "block");
            $("#day_changed2").css("display", "none");
            $("#day_changed3").css("display", "none");
            $("#day_changed4").css("display", "none")
        });
        $(".day_ul>li:nth-child(2)").on("click", function () {
            $("#day_changed1").css("display", "none");
            $("#day_changed2").css("display", "block");
            $("#day_changed3").css("display", "none");
            $("#day_changed4").css("display", "none")
        });
        $(".day_ul>li:nth-child(3)").on("click", function () {
            $("#day_changed1").css("display", "none");
            $("#day_changed2").css("display", "none");
            $("#day_changed3").css("display", "block");
            $("#day_changed4").css("display", "none")
        });


        // 数据统计导航栏切换
        var group_lis = $(".group_ul>li");
        $(".group_ul").on("click", function (event) {
            group_lis.each(function () {
                $(this).css({"color": "black"})
            });
            $(event.target).css({"color": "#4ac883"})
        });

        // 导航栏的点击事件
        $(".group_ul>li:first-child").on("click", function () {
            $("#group_changed1").css("display", "block");
            $("#group_changed2").css("display", "none")
        });
        $(".group_ul>li:last-child").on("click", function () {
            $("#group_changed1").css("display", "none");
            $("#group_changed2").css("display", "block")
        });

        $.post("/index/words_rank", {}, function(res){
            // 英文难度系数概览图
            var chart = Highcharts.chart('chart_changed1', {
                chart: {
                    polar: true,
                    type: 'line'
                },
                title: {
                    text: '英文难度系数',
                    x: -80
                },
                pane: {
                    size: '80%'
                },
                xAxis: {
                    categories: ['5星', '3星', '1星', '0星',
                        '2星', '4星'],
                    tickmarkPlacement: 'on',
                    lineWidth: 0
                },
                yAxis: {
                    gridLineInterpolation: 'polygon',
                    lineWidth: 0,
                    min: 0
                },
                tooltip: {
                    shared: true,
                    pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
                },
                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    y: 70,
                    layout: 'vertical'
                },
                series: [{
                    name: '期望难度系数',
                    data: [res.expect_five, res.expect_three, res.expect_one, res.expect_zero, res.expect_two, res.expect_four],
                    pointPlacement: 'on'
                }, {
                    name: '实际难度系数',
                    data: [res.five_star, res.three_star, res.one_star, res.zero_star, res.two_star, res.four_star],
                    pointPlacement: 'on'
                }]
            });

            //英文难度系数详细图
            var chart = Highcharts.chart('chart_changed2', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '每个星级难度的单词数量'
                },
                subtitle: {
                    text: '请点击按钮查看坐标轴变化'
                },
                xAxis: {
                    categories: ['无星', '一星', '二星', '三星', '四星', '五星']
                },
                yAxis: {
                    labels: {
                        x: -15
                    },
                    title: {
                        text: '个数'
                    }
                },
                series: [{
                    name: '星级',
                    data: [res.zero_star, res.one_star, res.two_star, res.three_star, res.four_star, res.five_star]
                }],
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        // Make the labels less space demanding on mobile
                        chartOptions: {
                            xAxis: {
                                labels: {
                                    formatter: function () {
                                        return this.value.replace('月', '')
                                    }
                                }
                            },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -2
                                },
                                title: {
                                    text: ''
                                }
                            }
                        }
                    }]
                }
            });
        });

        $.post("/index/word_count", {}, function(res){
            console.log(res);
            // 一周文章统计的总计量
            var chart = Highcharts.chart('day_changed1', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: '单词统计量'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: ['星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六']
                },
                yAxis: {
                    title: {
                        text: '个数（个）'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            // 开启数据标签
                            enabled: true
                        },
                        // 关闭鼠标跟踪，对应的提示框、点击事件会失效
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: '收藏',
                    data: [res["收藏"]["6"], res["收藏"]["0"], res["收藏"]["1"],
                        res["收藏"]["2"], res["收藏"]["3"], res["收藏"]["4"], res["收藏"]["5"]]
                }, {
                    name: '标记',
                    data: [res["标记"]["6"], res["标记"]["0"], res["标记"]["1"],
                        res["标记"]["2"], res["标记"]["3"], res["标记"]["4"], res["标记"]["5"]]
                }]
            });

            // 一周的单词收藏量
            var chart = Highcharts.chart('day_changed2', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '一周的单词收藏量'
                },
                subtitle: {
                    text: '请点击按钮查看坐标轴变化'
                },
                xAxis: {
                    categories: ['星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六']
                },
                yAxis: {
                    labels: {
                        x: -15
                    },
                    title: {
                        text: '个数'
                    }
                },
                series: [{
                    name: '个数',
                    data: [res["收藏"]["6"], res["收藏"]["0"], res["收藏"]["1"],
                        res["收藏"]["2"], res["收藏"]["3"], res["收藏"]["4"], res["收藏"]["5"]]
                }],
                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        // Make the labels less space demanding on mobile
                        chartOptions: {
                            xAxis: {
                                labels: {
                                    formatter: function () {
                                        return this.value.replace('月', '')
                                    }
                                }
                            },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -2
                                },
                                title: {
                                    text: ''
                                }
                            }
                        }
                    }]
                }
            });

            // 一周的单词标记量
            var chart = Highcharts.chart('day_changed3', {
            chart: {
                type: 'column'
            },
            title: {
                text: '一周的单词标记量'
            },
            subtitle: {
                text: '请点击按钮查看坐标轴变化'
            },
            xAxis: {
                categories: ['星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六']
            },
            yAxis: {
                labels: {
                    x: -15
                },
                title: {
                    text: '个数'
                }
            },
            series: [{
                name: '个数',
                data: [res["标记"]["6"], res["标记"]["0"], res["标记"]["1"],
                        res["标记"]["2"], res["标记"]["3"], res["标记"]["4"], res["标记"]["5"]]
            }],
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    // Make the labels less space demanding on mobile
                    chartOptions: {
                        xAxis: {
                            labels: {
                                formatter: function () {
                                    return this.value.replace('月', '')
                                }
                            }
                        },
                        yAxis: {
                            labels: {
                                align: 'left',
                                x: 0,
                                y: -2
                            },
                            title: {
                                text: ''
                            }
                        }
                    }
                }]
            }
        });
        });


        $.post("/index/group_rate", {}, function(res){
            var arr = [];
            for(var key in res){
                var obj = {};
                obj["name"] = key;
                obj["y"] = res[key];
                arr.push(obj);
            }
            // 数据统计分组概览图
            var chart = Highcharts.chart('group_changed1', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: '单词分组量'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: arr,
            }]
        });
        });

    });
    </script>
{% endblock %}
